<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scope India</title>
    <!-- Favicons -->
           <link th:href="@{/Images/s.png}" rel="shortcut icon">
    
    <!-- <link th:href="@{assets/img/favicon.png}" rel="icon">
    <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">
 -->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    
    <link th:href="@{assets/css/main.css}" rel="stylesheet">

</head>

<body class="regsection">

       <div th:replace="~{themes::header}"></div>
   

  <main class="main">

    <!-- Page Title -->
    
        <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.jpg);">
          <div class="container position-relative">
            <p>Login Now</p>
            <!-- <h1>It's just a matter of 80 days to an IT job!
            </h1> -->
            <nav class="breadcrumbs">
              <ol>
                <li><a href="index">Home</a></li>
                <li class="current">Login</li>
              </ol>
            </nav>
          </div>
        </div>
    <section class="starter1-section">
        <div class="login-box">
            <header>Login</header>
            <!-- Form action should map to the Spring controller handling login -->
            <h5 style="color:red;" th:text="${error}"></h5>
            
            <form id="loginForm" th:action="@{/login}" method="post" class="form1">
                <!-- Email -->
                <div class="input1-box">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required />
                </div>
    
                <!-- Password -->
               <!--  <div class="input1-box">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required />
                </div> -->
    <div class="input1-box">
    <div class="password-row">
        <label for="password">Password</label>
        <a class="forgot-password-link" th:href="@{/generate-temp-password}">Forgot password?</a>
    </div>
    <input type="password" id="password" name="password" placeholder="Enter your password" required />
</div>
    
                <!-- Keep me logged in -->
                <div class="checkbox-box">
                    <input type="checkbox" id="keepLoggedIn" name="cookies" value="on" />
                    <label for="keepLoggedIn">Keep me logged in</label>
                </div>
    
                <!-- Forgot password -->
                <!-- <div class="forgot-password-box">
                    <a th:href="@{/generate-temp-password}">Forgot Password?</a>
                </div> -->
    
                <!-- First-time login -->
                <div class="first-time-login-box"><a th:href="@{/registration}">Don't have an account yet?  Create New Account</a>

                </div>
    
                <!-- Login Button -->
                <button type="submit">Login</button>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer id="Footer" class="clearfix">
  <div class="widgets_wrapper" style="padding:50px ">
      <div class="container">
          <div class="column one">
              <aside class="widget_text widget widget_custom_html">
                  <div class="textwidget custom-html-widget">
                      <div style="text-align:center">
                          <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                              <div class="image_wrapper">
                                  <img class="scale-with-grid" src="https://scopeindia.org/images/snowpark-footer-logo.png">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 footer-locations">
                                  Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu
                              </div>
                          </div>
                          <div class="foot1"></div>
                          <img class="scale-with-grid iso-logo" alt="An ISO 9001:2015, IAS &amp; IFS Certified Company" 
                               title="An ISO 9001:2015, IAS &amp; IAF Certified Company" 
                               src="https://scopeindia.org/images/iso_iaflogo.png">
                          <p class="iso-text">An ISO 9001:2015 Certified Company</p>
                          <p class="copyright-text">
                              All Rights Reserved 
                              <a class="footer_links" target="_blank" href="https://www.suffixesolutions.com/" 
                                 title="A trusted IT Partner"> 
                                  Suffix E Solutions 
                              </a>&copy; 2007-2024
                          </p>
                          <div class="row contact-info">
                              <div class="col-md-12">
                                  <a class="footer_links" href="tel:+919745936073">9745936073 (TPK)</a> &nbsp;&nbsp; 
                                  <a class="footer_links" href="tel:+919745936073">9745936073 (TVM)</a> &nbsp;&nbsp; 
                                  <a class="footer_links" href="tel:+917592939481">7592939481 (EKM)</a> &nbsp;&nbsp;
                                  <a class="footer_links" href="tel:+918075536185">8075536185 (NGL)</a> &nbsp;&nbsp; 
                                  <a class="footer_links" target="_blank" href="mailto:info@scopeindia.org" 
                                     style="outline: none;">info@scopeindia.org</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </aside>
          </div>
      </div>
  </div>
</footer>
  </main>

     <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Preloader -->
      <div id="preloader"></div>
    
      <!-- Vendor JS Files -->
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>
      <script src="assets/vendor/aos/aos.js"></script>
      <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    
      <!-- Main JS File -->
      <script src="assets/js/main.js"></script>
    
    

</body>
</html>
