<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<title>Scope India</title>
    <!-- Favicons -->
           <link th:href="@{/Images/s.png}" rel="shortcut icon">
    <link th:href="@{assets/css/send-otp.css}" rel="stylesheet"></head>
</head>
<body>
    <section class="starter1-section">
        <div class="login-box">
            <header>Set Password</header>
            
            <!-- New Password form -->
            <form action="/set-new-password" method="post" class="form1">
                <!-- Hidden field for email -->
                <input type="hidden" name="email" th:value="${email}" />
                
                <!-- New Password input -->
                <div class="input1-box">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required />
                </div>
    
                <!-- Set New Password Button -->
                <button type="submit">Set Password</button>
            </form>
        </div>
    </section>
</body>
</html>
